<!--
=====================================================
 * * Title: security-question-list.component.html
 * Author: Larry
 * Date: 09/19/21
 * Description: Security question list angular code
 =====================================================
-->


<div fxLayout="column">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Create Security Question</mat-card-title>

        <br/>
<!-- Security form layout-->
        <form [formGroup]="form" (ngSubmit)="create()" #securityQuestionForm>
            <mat-card-content>
                <div fxLayout="column" fxlayoutGap="10px">
                    <mat-form-field>
                        <!-- Security form input form-->
                        <input type="text" matInput [formControl]="form.control['text']" placeholder="Question text" (keydown.enter)="create()"/>
                        <mat-error *ngIf="form.controls.text.hasError('required') && form.controls.text.touched" class="error">
                            Security question is a required field.
                        </mat-error> 
                    </mat-form-field>
                </div>
            </mat-card-content>
<!-- Cancel button-->
            <br/>
            <mat-card-actions align="end">
                <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
                <button type="submit" [disabled]="!form.valid" mat-raised-button color="accent">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>