<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 09/5/21
 * Description: error page
 */
-->


<!--This sets up my column which holds the card for my 404 page. -->
<br /><br /><br /><br />
<div fxLayout="column">
<div fxFlex>
  <!--This is the title and subtitle for the 404 page. -->
  <h1>Theres a server error</h1>
  <br />
  <h2>Please use the button below to return back to the homepage. </h2>
</div>
<br /><br />
  <div fxFlex>
    <br /><br />

    <!--This is the div that holds the 404 image. -->
    <div style="align-content: center; display: flex; justify-content: center;">
      <img src="./assets/Tech Strat_graphic [Recovered]-19 (1).png" style="width: 80%; padding: 40px;"/>
      </div>

      <br />
      <br />

      <!--This is the button that returns the user to the homepage of the application. -->
      <div style="align-content: center; display: flex; justify-content: center;">
        <button routerLink="/" mat-flat-button color="accent" style="background-color: rgb(19, 27, 99);">Return Home</button>
      </div>
    </div>
</div>
