button {
    background-color: rgb(247, 244, 244);
    color: rgb(230, 13, 78);
  }
  button:hover {
    background-color: rgb(230, 13, 78);
    color: rgb(255, 255, 255);
  }
  button {
    transition-duration: 0.5s;
  }
  