<!--
 * * Title: home.component.html
 * Author: Larry Ohaka
 * Date: 7/3/21
 * Description: Input Properties
-->
<!--<mat-card class="service-card" >-->
<div fxLayout="column" class="main-welcome">
  <div fxFlex>
 
    <h1 class="title" >
      <img src="./../../../assets/BCRS_icons-03.png" style="width: 190px;padding: 12px;" align="center">
     <br/> Welcome to<b style="color: rgb(19, 89, 170);"> BOB'S COMPUTER REPAIR SHOP</b> <br/>
     
    </h1>
  </div>

  <div style="padding: 20px; align-items: center;" fxFlex="50%">
    <mat-card class="mat-elevation-z0"  fxLayout="column" >
    
    
    <!--products form-->
    <form #invoiceForm="ngForm" (submit)="generateInvoice();" >
      <mat-card-content >
        <!--fx layout column container-->
        <div fxLayout="column" fxLayoutGap="5px">

          <!--Services check boxes-->
          <div  fxFlex="50%">

            <mat-card class="mat-elevation-z0">

             <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
              <p-messages [(value)]="successMessages" [enableService]="false"></p-messages>

              <mat-card-subtitle>Services</mat-card-subtitle>
             
              
<!--
<div >
              <img src="./../../../assets/BCRS_icons-02.png" style="width: 240px; align-items: center;"><h3 style="text-align: center;">SOFTWARE SERVICES</h3>
            </div>

            <div >
              <img src="./../../../assets/BCRS_icons-03.png" style="width: 240px; align-items: center;"><h3 style="text-align: center;">SOFTWARE SERVICES</h3>
            </div>
-->
      

            <div class="products">


              <ng-container *ngFor="let product of products">
                
                <mat-card class="mat-elevation-z3">
                  <!-- service title -->
                  <mat-card-title>
                    <mat-checkbox value="{{ product.price }}" [(ngModel)]="product.checked" [name]="product.title">
                      {{ product.title }}
                      <img  class="images" src="./resources/img/new.png"/>
                    </mat-checkbox>
                  </mat-card-title>

                  

                  <br />
                 
                  <!-- service price -->
                  <mat-card-content>
                    <mat-list>
                      <mat-list-item>{{ product.price | currency }}</mat-list-item>
                    </mat-list>
                  </mat-card-content>

                </mat-card>
              </ng-container>



            </div>
            </mat-card>

            <br />
            <mat-divider></mat-divider>
            <br/>
          </div>
          <!-- end services -->

          <!-- Standard Fees-->
          <div fxFlex>
            <mat-card class="mat-elevation-z0">
              <mat-card-subtitle> Standard Fees</mat-card-subtitle>

              <mat-card-content>
                <div fxLayout="column">
                  <mat-form-field class="w-50" appearance="fill" fxFlex>
                    <mat-label>Parts</mat-label>
                    <input matInput [(ngModel)]="invoice.partsAmount" type="number" name="txtPartsAmount"/>
                  </mat-form-field>

                  <mat-form-field class="w-50" appearance="fill" fxFlex>
                    <mat-label>Labor @ 50/hr</mat-label>
                    <input matInput [(ngModel)]="invoice.laborHours" type="number" name="txtLaborHours"/>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
          </div>


          <!--end standard feed section-->
        </div>
        <!-- end fx column container-->
      </mat-card-content>
      <!--end mat-card-content-->

      <br/>
      <mat-divider></mat-divider>
      <br/>

      <!--Form submission buttons-->

      <mat-card-actions align="end">
        <button mat-raised-button type="reset" style="background-color:rgb(19, 89, 170) ; color: white;">Cancel</button>
        <button mat-raised-button color="accent">Generate Invoice</button>
      </mat-card-actions>
    </form>
  </mat-card>
  </div>
</div>

