<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 09/5/21
 * Description: about page
 */
-->

<main class="about" style="padding: 30px; align-items: center;" fxFlex="50%" >
    <h2 style="font-size: 3em; line-height: 40px; color: rgb(32, 105, 179);">Welcome to Bob's Computer Repair Shop!</h2>
  </main>



  <div fxLayout="row" style="padding: 30px; color: rgb(77, 77, 77);" >
    
     
        <div class="profile-pic">
       
    </div>
     
  
    <div fxFlex="70%" style="padding-top: 80px;">
      <mat-card-content style="font-size: 30px">
        <span>
            <h1 style="font-size: 16px">
        Bob? Who's that? Well Bob Saget is the founder of Bob's computer repair shop and layed the road for our companies growth into what it is today! With over 50 employees currently working for BCRS, we are invested in getting any and all computer related issues fixed and ready for use!
        <br/>
        While founded in 1999, Bob started working at IBM from 1990-1998 and developed a knack for repairing hardware and later incorporated software troubleshooting into his  skill set. While BCRS has employed talented developers and people with knowledge of software and hardware repair over the years, BCRS has always had a top notch team that will provide excellent service and care to your tech
          </h1></span>
      </mat-card-content>
    </div>
  </div>