<!--
 * * Title:base-layout.component.html
 * Author: Larry Ohaka
 * Date: 08/22/21
 * Description: signin
 */
-->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex >
    <mat-toolbar style="background-color: rgb(32, 105, 179);">
      <div class="text-logo">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button> <img src="./assets/Tech Strat_graphic-06.png" style="width: 40px; padding:5px ;"/><b style="color: aliceblue;">nodebucket</b></button>
      </div>
      <!-- navbar container -->
      <div class="navbar-container" >
        <button class="navbar-link" routerLink="/about" mat-button style="color: antiquewhite;">About</button>
        <button class="navbar-link" routerLink="/contact" mat-button style="color: antiquewhite;">Contact</button>
      </div>

<!-- logged out-->
      <div fxFlex></div>


      <div *ngIf="isLoggedIn">
<!--Profile pic button to open menu-->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile Menu">
          <mat-icon style="color: antiquewhite;">perm_identity</mat-icon>
        </button>

        <mat-menu #profileMenu>
          <p style="padding: 10px;">
            Signed in as {{ name }}
          </p>
          <mat-divider></mat-divider>
<!--signOut function-->
          <button mat-menu-item (click)='signOut()'>
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>