<!--
 * * Title:base-layout.component.html
 * Author: Larry Ohaka
 * Date: 08/22/21
 * Description: signin
 */
-->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex >
    <mat-toolbar style="background-color: rgb(19, 89, 170);">
      <div class="text-logo">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button> <img src="../../../assets/BCRS_logo-05.png" style="width: 40px; padding:5px ;"/><b style="color: aliceblue;">BCRS</b></button>
      </div>
      <!-- navbar container -->
      <div class="navbar-container" fxLayoutAlign="right" >
        <button class="navbar-link" routerLink="/about-us" mat-button style="color: antiquewhite;">About Us</button>
        <button class="navbar-link" routerLink="/contact-us" mat-button style="color: antiquewhite;">Contact</button>
      </div>

<!-- logged out-->
      <div fxFlex></div>

<button [matMenuTriggerFor]="session" mat-icon-button class="ml-xs"  mat-button style="color: antiquewhite;">
  <mat-icon >person</mat-icon>
</button>
<mat-menu #session="matMenu" x-position="before">

  <button mat-menu-item [matMenuTriggerFor]="configs">
    <mat-icon>settings</mat-icon>
    Configurations
  </button>

  <mat-menu #configs="matMenu">
    <button mat-menu-item routerLink="/users">
    <mat-icon>person_add</mat-icon>
    Users
  </button>

  <button mat-menu-item routerLink="/roles">
  <mat-icon>security</mat-icon>
  Roles
</button>

<button mat-menu-item routerLink="/security-questions">
<mat-icon>help</mat-icon>
Security Questions
</button>

  </mat-menu>

  <button *ngIf="userRole && userRole['role'] === 'admin'" mat-menu-item [matMenuTriggerFor]="reports">
    <mat-icon>poll</mat-icon>
    Reports
  </button>


  <mat-menu #reports="matMenu">
    <button mat-menu-item routerLink="/purchases-by-service-graph">
    <mat-icon>pie_chart</mat-icon>
  </button>
  Purchases by Service
  </mat-menu>


<button mat-menu-item (click)="signout()" >
  <mat-icon mat-button style="color: antiquewhite;">exit_to_app</mat-icon>
  Sign out
</button>
</mat-menu>

    </mat-toolbar>
  </nav>

  <!-- main content -->
<div fxLayout="row wrap" fxLayoutAlign="center start">

    <mat-card class="mat-card-top">
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
    </mat-card>
  </div>

<br />

  <div fxLayout>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - Bob's Computer Repair Shop -
          <a href="hhttps://github.com/gsavickas/bob-sComputerRepairShop-RC/tree/dev/src/app/pages"
            target="_blank">RavenClaw</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>


 

